.panel {
    display: flex;
    align-items: stretch;
    height: 500px;
}

@media screen and (max-width: 800px) {
    .panel {
        flex-direction: column;
        height: auto;
    }
}

.container {
    overflow-x: hidden;
    overflow-y: hidden;
    * {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}