.upper_panel {
    display: flex;
    align-items: stretch;
}

@media screen and (max-width: 800px) {
    .upper_panel {
        flex-direction: column;
    }
}

// .container {
//     overflow-x: hidden;
//     * {
//         overflow-x: scroll;
//     }
// }