@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

$login-color: #FAF9F6;

#__next {
    min-height: 100vh;
    height: auto;
}

body {
    min-height: 100vh;
}

.ant-layout {
    min-height: 100vh !important;
    height: auto;
}

.title {
    font-family: sans-serif;
}

.fit-screen {
    min-height: 100%;
}

.horizontal-flex-spaced {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.login > .left > .name {
    display: flex;
    align-items: center;
    border: 5px solid;
    padding: 10px;
    color: $login-color;
    margin: 10px 0px;
}

.login > .right {
    background-color: $login-color;
    width: 400px;
    border-radius: 25px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    color: #3a3b3ce6;
    box-shadow: 0 0 40px -5px #00000053;
    margin-bottom: 10px;
}

.sign-up  {
    padding: 50px;
    box-shadow: 0 0 40px -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
}

.login > .right * {
    color: inherit;
}

.form > * {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

.form :not(.submit) {
    color: inherit !important;
}

.main-header-light {
    color: rgba(0,0,0,.85) !important;
}

.main-header-light:hover {
    color: inherit !important;
}

.main-header-dark {
    color: rgba(255, 255, 255, 0.85) !important;
}

.main-header-dark:hover {
    color: inherit !important;
}

.ant-page-header-heading-extra {
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-layout-content {
    padding: 30px 50px;
}

.ant-table-wrapper.flex-table {
    height: 100%;
  
    .ant-spin-nested-loading {
      height: 100%;
  
      .ant-spin-container {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
  
        .ant-table {
          flex: auto;
          overflow: scroll;
  
          .ant-table-container {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
          }
        }
  
        .ant-table-pagination {
          flex: none;
        }
      }
    }
  }